@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap");
body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.2;
  font-size: 17.5px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #14171a;
  font-weight: 600;
}

html,
body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #88919d;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input {
  outline: 0;
  border: 0;
  color: #000;
  font-size: 17.5px;
  font-weight: 800;
}

input:focus {
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 17.5px;
  color: #111;
  font-weight: 800;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.img-responsible {
  width: 100%;
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

textarea {
  min-height: 70px;
}

.wrapper {
  max-width: 1450px;
  margin: 0px auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.header_nav {
  background-color: rgba(0, 0, 0, 0.55);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.navbar-brand {
  font-weight: 800;
  font-size: 33px;
  letter-spacing: 0.5px;
  margin: 0;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0px blanchedalmond;
  position: relative;
  padding: 0px 16px 0px 0px;
  z-index: 1;
}

.navbar-brand::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  color: blanchedalmond;
  border-right: 3.2px solid blanchedalmond;
  overflow: hidden;
  -webkit-animation: amination_text 6.2s linear infinite;
          animation: amination_text 6.2s linear infinite;
}

.navbar-brand:hover {
  color: transparent;
}

.navbar__searchbox {
  width: 35.1px;
  display: none;
  cursor: pointer;
}

.navbar__box {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-428deg, #0f1214 50%, #0c0d0f 50%);
  z-index: 9999;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.navbar__form {
  position: relative;
  width: 800px;
  height: 54px;
  -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(6, 6, 6, 0.99);
  background-color: #0f1012;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  position: relative;
  margin: 0px 6px;
}

.navbar__sub-input-text {
  background-color: rgba(255, 255, 255, 0.4);
  color: #0f1012;
  padding: 2.5px 6px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  border-radius: 2px;
  font-size: 15px;
  letter-spacing: 0.5px;
  margin: 0px 20px;
  opacity: 0;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.navbar__input-text {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  color: #d1d1d1;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.navbar__input-text:focus {
  color: white;
  font-size: 20px;
  font-weight: 700;
  color: #d1d1d1;
}

.navbar__input-text:focus + .navbar__sub-input-text {
  opacity: 1;
}

.navbar__submit-btn {
  position: relative;
  width: 50px;
  height: 100%;
  background: 0 0;
  margin-right: 10px;
}

.navbar__submit-btn:hover:before {
  background-image: url("img/magnifier-tool.svg");
}

.navbar__submit-btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/search.svg");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center center;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.navbar__icon-close-box {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.navbar__icon-bar {
  width: 30px;
  height: 5px;
  background-color: transparent;
  position: relative;
}

.navbar__icon-bar:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 4.5px;
  background: -webkit-gradient(linear, left top, right top, from(#e3e3e3), color-stop(#e3e3e3), color-stop(#868686), color-stop(#e3e3e3), color-stop(#868686), to(#868686));
  background: linear-gradient(to right, #e3e3e3, #e3e3e3, #868686, #e3e3e3, #868686, #868686);
  background-size: 200%;
  -webkit-animation: animationUnderline 2.5s linear infinite forwards;
          animation: animationUnderline 2.5s linear infinite forwards;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar__icon-bar:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 4.5px;
  background: -webkit-gradient(linear, left top, right top, from(#e3e3e3), color-stop(#e3e3e3), color-stop(#868686), color-stop(#e3e3e3), color-stop(#868686), to(#868686));
  background: linear-gradient(to right, #e3e3e3, #e3e3e3, #868686, #e3e3e3, #868686, #868686);
  background-size: 200%;
  -webkit-animation: animationUnderline 2.5s linear infinite forwards;
          animation: animationUnderline 2.5s linear infinite forwards;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@-webkit-keyframes amination_text {
  0%, 20%, 100% {
    width: 0%;
  }
  70%, 90% {
    width: 100%;
  }
}

@keyframes amination_text {
  0%, 20%, 100% {
    width: 0%;
  }
  70%, 90% {
    width: 100%;
  }
}

.nav_link {
  font-size: 18px;
  text-transform: uppercase;
  color: beige;
  font-weight: 700;
  letter-spacing: 0.6px;
  z-index: 3;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block;
  padding: 8px;
}

.nav_item, .nav_link:hover {
  color: #111;
}

.nav_item {
  z-index: 1;
  position: relative;
}

.nav_item::before {
  content: "";
  position: absolute;
  height: 34%;
  width: 0;
  background-color: beige;
  z-index: -1;
  right: 0;
  z-index: 0;
  top: 34%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav_item::after {
  content: "";
  position: absolute;
  height: 34%;
  width: 0;
  background-color: beige;
  z-index: -1;
  left: 0;
  z-index: 0;
  bottom: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav_link::before {
  position: absolute;
  content: "";
  height: 34%;
  width: 0;
  background-color: beige;
  z-index: -1;
  bottom: 66.88%;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav_item:hover:before,
.nav_item:hover::after,
.nav_item:hover .nav_link::before {
  width: 100%;
}

.actoin {
  position: relative;
}

.profile {
  color: #ddd;
  cursor: not-allowed;
  position: absolute;
  top: 93%;
  right: -100%;
  -webkit-transition: 0.9s all ease-in-out;
  transition: 0.9s all ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 25px 45px rgba(255, 255, 255, 0.2);
          box-shadow: 0 25px 45px rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  border-right: 2.3px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2.3px solid rgba(255, 255, 255, 0.2);
  color: #fff !important;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 15px 9.4px;
}

.profile i {
  color: #ddd;
}

.profile__show {
  right: 9%;
}

.profile__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9.5px;
}

.profile__link .icon {
  height: 40px;
  width: 40px;
  background: rgba(255, 255, 255, 0.25);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  color: #eee;
  cursor: not-allowed;
}

.profile__link .icon2 {
  position: absolute;
  right: 18px;
}

.profile__addition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__menu {
  width: 300px;
  padding: 0;
  margin: 0;
  line-height: 55px;
  cursor: not-allowed;
}

.profile__menu-item {
  padding: 0px 9px;
  cursor: not-allowed;
}

.profile__menu-item:hover {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 5px;
}

.profile__menu a {
  color: #eee;
  cursor: not-allowed;
}

/****BTN******************************/
.btn {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.btn__droupdown:active, .btn__droupdown:focus {
  color: #111;
}

.btn__droupdown i {
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.btn__droupdown:hover i,
.btn__droupdown:active i,
.btn__droupdown:focus i {
  color: #111;
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-outline-light:hover {
  background: none;
  color: #111;
}

.hvr-bounce-to-right:before {
  background: #fff;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.hvr-rectangle-in {
  background: rgba(0, 0, 0, 0.25);
  border: 2px solid #fff;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.hvr-rectangle-in:before {
  background: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

::-webkit-scrollbar {
  width: 12.1px;
}

::-webkit-scrollbar-track {
  background-color: #1B1C1E;
}

::-webkit-scrollbar-thumb {
  background: #696969;
  border-radius: 3px;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: #d1d1d1;
}

h1 {
  background: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#da1b60));
  background: linear-gradient(to right, #ff8a00, #da1b60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.home__text {
  color: #9DA7B5;
  line-height: 25px;
  letter-spacing: 0.2px;
  word-spacing: 2px;
}

/********************    CONTENT START     ******************/
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__section {
  background: url("img/decor.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 63px 39px 0px 39px;
  margin-top: 150px;
}

.content__bg {
  background: #08090A;
}

.content__title {
  font-weight: 800;
  background: -webkit-gradient(linear, left top, right top, from(#fea431), to(#ff8a00));
  background: linear-gradient(to right, #fea431, #ff8a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  margin-bottom: 3.5px;
  -webkit-transition: 0.7s all ease-in-out;
  transition: 0.7s all ease-in-out;
  display: inline-block;
}

.content__title:hover {
  background: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#da1b60));
  background: linear-gradient(to right, #ff8a00, #da1b60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content__btn {
  -webkit-perspective: 10000px;
          perspective: 10000px;
  letter-spacing: 0.75px;
  white-space: nowrap;
  font-weight: 700;
  color: #fff;
}

.content__btn-next {
  display: inline-block;
  padding: 12px 16px;
  color: #e3e3e3;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  -webkit-clip-path: polygon(7% 0, 100% 0, 100% 30%, 100% 70%, 93% 100%, 30% 100%, 0 100%, 0% 30%);
          clip-path: polygon(7% 0, 100% 0, 100% 30%, 100% 70%, 93% 100%, 30% 100%, 0 100%, 0% 30%);
  background-size: 500% 500%;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
  -webkit-transition-timing-function: cubic-bezier(0.64, -3, 0.78, 3);
          transition-timing-function: cubic-bezier(0.64, -3, 0.78, 3);
}

.content__btn-next:hover {
  padding: 12px 23px;
  background-position: right;
  color: #fff;
  letter-spacing: 0.9px;
}

.content__btn-next i {
  color: #ddd;
  font-size: 19.7px;
}

.content__btn-next {
  background: -webkit-gradient(linear, right top, left top, from(#FF6200), color-stop(#FF005D), color-stop(white), color-stop(#FF005D), to(#F05C00));
  background: linear-gradient(to left, #FF6200, #FF005D, white, #FF005D, #F05C00);
  background-size: 500% 500%;
}

/**********************8 SERVICE  START      ****************************/
/**********************8 SERVICE  END      ****************************/
/********************** NEW BTN START **********************************/
.title {
  position: relative;
  display: inline-block;
  color: #ddd;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.7px;
}

.title:before {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 5.6px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#014ec2), to(#258ec7));
  background: linear-gradient(to right, #014ec2, #258ec7);
}

/********************** NEW BTN END **********************************/
/************        ICONS START ******************/
/************         ICONS END ******************/
.nav-tabs {
  border: 0;
}

.nav-item {
  font-size: 21px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  letter-spacing: 0.8px;
  border-radius: 1px;
  color: #fff;
}

.nav-link {
  color: #fff;
}

.nav-link.active {
  color: #e3e3e3 !important;
  background: rgba(255, 255, 255, 0.23) !important;
  border: 0;
  outline: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-weight: 600;
  border-radius: 1px;
}

.nav-link:hover {
  color: #fff;
  border: 0;
  outline: 0;
}

/**********************8 PANEL END    ****************************/
/******************** SITEBAR START       *****************/
.sitebar {
  -webkit-box-shadow: 0 0 8px 3px #0C1013;
          box-shadow: 0 0 8px 3px #0C1013;
  position: relative;
  overflow-x: hidden;
  height: 100%;
  background: #1F2326;
  overflow-y: hidden;
}

.sitebar__top {
  margin-top: 126px;
}

.sitebar__padding {
  padding: 0px 15px;
}

.sitebar__title {
  font-size: 26px;
  letter-spacing: 0.8px;
}

.sitebar__statistics {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.sitebar__info {
  position: absolute;
  top: 26px;
  left: 26px;
}

.sitebar__number {
  font-weight: 500;
  font-family: 'Kanit', sans-serif;
  font-size: 20.4px;
}

.sitebar__number-1 {
  color: #00bf08;
}

.sitebar__number-2 {
  color: #108AC7;
}

.sitebar__number-3 {
  color: #FF721B;
}

.sitebar__sub-text {
  display: block;
  font-size: 14.5px;
  position: relative;
  top: 0;
}

.sitebar__design {
  margin: 0px 21px 0px -13px;
}

.sitebar__pulse {
  position: relative;
  height: 100px;
  width: 100px;
  margin: 0px -5px;
  left: -33px;
  top: -6px;
  z-index: 5;
}

.sitebar__pulse-1:before, .sitebar__pulse-1:after {
  background: #00bf08;
}

.sitebar__pulse-1:after {
  -webkit-animation: plusAfterCdot-1 linear 3s forwards infinite;
          animation: plusAfterCdot-1 linear 3s forwards infinite;
}

.sitebar__pulse-2:before, .sitebar__pulse-2:after {
  background: #108AC7;
}

.sitebar__pulse-2:after {
  -webkit-animation: plusAfterCdot-2 linear 3s forwards infinite 1s;
          animation: plusAfterCdot-2 linear 3s forwards infinite 1s;
}

.sitebar__pulse-3:before, .sitebar__pulse-3:after {
  background: #FF721B;
}

.sitebar__pulse-3:after {
  -webkit-animation: plusAfterCdot-3 linear 3s forwards infinite 2s;
          animation: plusAfterCdot-3 linear 3s forwards infinite 2s;
}

.sitebar__pulse:before {
  content: " ";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.5;
  z-index: 15;
}

.sitebar__pulse:after {
  content: " ";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sitebar__wave {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sitebar__wave-1 {
  background: rgba(0, 191, 8, 0.4);
  -webkit-animation: radarWave-1 cubic-bezier(0, 0.54, 0.53, 1) 3s infinite 0s forwards;
          animation: radarWave-1 cubic-bezier(0, 0.54, 0.53, 1) 3s infinite 0s forwards;
}

.sitebar__wave-1:after {
  background: rgba(0, 191, 8, 0.4);
  -webkit-animation: radarWave-1 cubic-bezier(0, 0.54, 0.53, 1) 3.1s infinite 0s forwards;
          animation: radarWave-1 cubic-bezier(0, 0.54, 0.53, 1) 3.1s infinite 0s forwards;
}

.sitebar__wave-3 {
  background-color: rgba(255, 129, 48, 0.4);
  -webkit-animation: radarWave-3 cubic-bezier(0, 0.54, 0.53, 1) 3s infinite 2s forwards;
          animation: radarWave-3 cubic-bezier(0, 0.54, 0.53, 1) 3s infinite 2s forwards;
}

.sitebar__wave-3:after {
  background-color: rgba(255, 129, 48, 0.4);
  -webkit-animation: radarWave-3 cubic-bezier(0, 0.54, 0.53, 1) 3.1s 2s infinite;
          animation: radarWave-3 cubic-bezier(0, 0.54, 0.53, 1) 3.1s 2s infinite;
}

.sitebar__wave-2 {
  background-color: rgba(32, 150, 243, 0.4);
  -webkit-animation: radarWave-2 cubic-bezier(0, 0.54, 0.53, 1) 3s infinite 1s forwards;
          animation: radarWave-2 cubic-bezier(0, 0.54, 0.53, 1) 3s infinite 1s forwards;
}

.sitebar__wave:after {
  content: "";
  position: absolute;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  opacity: 0;
  display: block;
}

@-webkit-keyframes plusAfterCdot-1 {
  0% {
    opacity: 0.3;
    background: #00bf08;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    background: rgba(0, 191, 8, 0);
  }
}

@keyframes plusAfterCdot-1 {
  0% {
    opacity: 0.3;
    background: #00bf08;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    background: rgba(0, 191, 8, 0);
  }
}

@-webkit-keyframes plusAfterCdot-2 {
  0% {
    opacity: 0.3;
    background: #108AC7;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    background: rgba(0, 191, 8, 0);
  }
}

@keyframes plusAfterCdot-2 {
  0% {
    opacity: 0.3;
    background: #108AC7;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    background: rgba(0, 191, 8, 0);
  }
}

@-webkit-keyframes plusAfterCdot-3 {
  0% {
    opacity: 0.3;
    background: #FF721B;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    background: rgba(0, 191, 8, 0);
  }
}

@keyframes plusAfterCdot-3 {
  0% {
    opacity: 0.3;
    background: #FF721B;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    background: rgba(0, 191, 8, 0);
  }
}

@-webkit-keyframes radarWave-1 {
  0% {
    opacity: 0.1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  5% {
    background: rgba(0, 191, 8, 0.4);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background: rgba(0, 191, 8, 0);
  }
}

@keyframes radarWave-1 {
  0% {
    opacity: 0.1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  5% {
    background: rgba(0, 191, 8, 0.4);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background: rgba(0, 191, 8, 0);
  }
}

@-webkit-keyframes radarWave-3 {
  0% {
    opacity: 0.1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  5% {
    background-color: rgba(255, 129, 48, 0.4);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: rgba(0, 191, 8, 0);
  }
}

@keyframes radarWave-3 {
  0% {
    opacity: 0.1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  5% {
    background-color: rgba(255, 129, 48, 0.4);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: rgba(0, 191, 8, 0);
  }
}

@-webkit-keyframes radarWave-2 {
  0% {
    opacity: 0.1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  5% {
    background-color: rgba(32, 150, 243, 0.4);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    background: rgba(0, 191, 8, 0);
  }
}

@keyframes radarWave-2 {
  0% {
    opacity: 0.1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  5% {
    background-color: rgba(32, 150, 243, 0.4);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    background: rgba(0, 191, 8, 0);
  }
}

/******************** SITEBAR END       *****************/
/********************    CONTENT END     ******************/
/********************* ACCORDION START ***************************/
.accordion {
  color: #e3e3e3 !important;
}

.accordion-item {
  background: #181C1E;
}

.accordion-button {
  background: #1D2023 !important;
  color: #e3e3e3 !important;
  position: relative;
  font-size: 18.5px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.accordion-button:hover {
  background-color: rgba(11, 12, 14, 0.75) !important;
}

.accordion-button:hover .accordion__bg {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.accordion-button:not(.collapsed) {
  background-color: #101214 !important;
}

.accordion-button::after {
  background-image: none;
  content: " ";
  width: 13px;
  height: 13px;
  background: #434648;
  z-index: 999;
  position: relative;
  border-radius: 50%;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  background: #86ff3b;
  -webkit-box-shadow: 0px 0px  0px 4px #333, 0px 0px 0px 6px #86ff3b;
          box-shadow: 0px 0px  0px 4px #333, 0px 0px 0px 6px #86ff3b;
}

.accordion-button:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion__fg, .accordion__bg {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
}

.accordion__fg {
  left: 11px;
  top: 14.5px;
  z-index: 10;
  width: 27px;
  height: 27px;
}

.accordion__bg {
  width: 38px;
  height: 38px;
  left: 6px;
  top: 9px;
  opacity: 0.5;
  z-index: 5;
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.accordion-body {
  padding: 0px;
}

.accordion__links {
  margin: 0;
  padding: 15px 0px;
}

.accordion__item, .accordion__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  line-height: 27px;
  color: #d1d1d1;
  font-weight: 500;
  font-size: 17.4px;
  letter-spacing: 0.8px;
  padding: 3px 0px 3px 15px;
}

.accordion__item:hover {
  background-color: #14171A;
  color: #E77F00;
}

/********************* ACCORDION END ***************************/
.chat {
  background-color: #252A2E;
  height: 430px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ripper__container {
  position: absolute;
  bottom: 90px;
  left: 29.5%;
}

.ripper__box {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #03A6C9;
  z-index: 100;
  cursor: pointer;
  position: relative;
}

.ripper__box:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 8px solid #03A6C9;
  -webkit-animation: ripper1 3.2s  infinite;
          animation: ripper1 3.2s  infinite;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
          animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
}

.ripper__box:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 8px solid #03A6C9;
  -webkit-animation: ripper1  3.2s infinite;
          animation: ripper1  3.2s infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
          animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
}

.ripper__tooltip {
  position: absolute;
  top: -165px;
  right: -44%;
  background: #141719;
  width: 275px;
  height: auto;
  padding: 16px;
  font-weight: 400;
  border-radius: 5px;
  text-align: center;
  z-index: 100;
  text-align: center;
}

.ripper__tooltip:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #141719;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  margin: auto;
}

.ripper__text {
  color: #d1d1d1;
  line-height: 23px;
  font-size: 15.5px;
}

@-webkit-keyframes ripper1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
}

@keyframes ripper1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
}

.footer {
  background-color: #0E1012;
}

.footer-copyright {
  padding: 21px 0px;
  color: #e3e3e3;
  letter-spacing: 0.7px;
  font-weight: 600;
}

.pre-loader {
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: animate 2s  ease infinite forwards;
          animation: animate 2s  ease infinite forwards;
}

.pre-loader__item {
  position: absolute;
  width: 50px;
  height: 50px;
}

.pre-loader__item:nth-child(1) {
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#014BBB), color-stop(#014BBB), color-stop(#117EB8), to(#014BBB));
  background: linear-gradient(to right, #014BBB, #014BBB, #117EB8, #014BBB);
  background-size: 200%;
  -webkit-animation: animationUnderline 0.9s linear infinite;
          animation: animationUnderline 0.9s linear infinite;
}

.pre-loader__item:nth-child(1):before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  width: 90px;
  height: 90px;
  bottom: 0;
  right: 0;
}

.pre-loader__item:nth-child(2) {
  top: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(#60A400), color-stop(#60A400), color-stop(#a8e063), to(#60A400));
  background: linear-gradient(to right, #60A400, #60A400, #a8e063, #60A400);
  background-size: 200%;
  -webkit-animation: animationUnderline 0.9s linear infinite;
          animation: animationUnderline 0.9s linear infinite;
}

.pre-loader__item:nth-child(2):before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  width: 90px;
  height: 90px;
  bottom: 0;
  left: 0;
}

.pre-loader__item:nth-child(3) {
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#E50914), color-stop(#E50914), color-stop(#D02F24), to(#E50914));
  background: linear-gradient(to right, #E50914, #E50914, #D02F24, #E50914);
  background-size: 200%;
  -webkit-animation: animationUnderline 0.9s linear infinite;
          animation: animationUnderline 0.9s linear infinite;
}

.pre-loader__item:nth-child(3):before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  width: 90px;
  height: 90px;
  top: 0;
  right: 0;
}

.pre-loader__item:nth-child(4) {
  bottom: 0;
  right: 0;
  background: #FF6200;
  background: -webkit-gradient(linear, left top, right top, from(#da1b60), color-stop(#da1b60), color-stop(#ff8a00), to(#da1b60));
  background: linear-gradient(to right, #da1b60, #da1b60, #ff8a00, #da1b60);
  background-size: 200%;
  -webkit-animation: animationUnderline 0.9s linear infinite;
          animation: animationUnderline 0.9s linear infinite;
}

.pre-loader__item:nth-child(4):before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  width: 90px;
  height: 90px;
  top: 0;
  left: 0;
}

@-webkit-keyframes animate {
  0% {
    width: 100px;
    height: 100px;
  }
  50% {
    width: 180px;
    height: 180px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

@keyframes animate {
  0% {
    width: 100px;
    height: 100px;
  }
  50% {
    width: 180px;
    height: 180px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121518;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader.hidden {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/****************** HAMBURGER  START        *********************/
.hamburger,
.sitebar-close {
  height: 67px;
  width: 67px;
  display: none;
  border: 4px solid blanchedalmond;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.hamburger:after,
.sitebar-close:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3.7px solid blanchedalmond;
  -webkit-animation: hamburger_puls 3s  infinite;
          animation: hamburger_puls 3s  infinite;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
          animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
}

.hamburger:before,
.sitebar-close:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3.7px solid blanchedalmond;
  -webkit-animation: hamburger_puls2 3s infinite;
          animation: hamburger_puls2 3s infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
          animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
}

@-webkit-keyframes hamburger_puls {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background: transparent;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    background: blanchedalmond;
  }
}

@keyframes hamburger_puls {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background: transparent;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
    background: blanchedalmond;
  }
}

@-webkit-keyframes hamburger_puls2 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes hamburger_puls2 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

.hamburger .bar,
.sitebar-line {
  height: 4px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

.hamburger .bar::after,
.hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
}

.hamburger .bar::after {
  top: 10px;
}

.hamburger .bar::before {
  bottom: 10px;
}

.hamburger.active .bar::before {
  bottom: 0;
}

.hamburger.active .bar::after {
  top: 0;
}

.owl-container {
  max-width: 100%;
  height: auto;
  background: #0D1114;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 55px 43px;
  margin-bottom: 50px;
}

.owl-carousel {
  max-width: 1000px;
  position: relative;
}

/******************* FOOTER START ************************************/
.footer {
  background: #0B0D10;
  padding-top: 35px;
}

.footer__mail, .footer__tel {
  position: relative;
  color: #A4AFBD;
  font-weight: 500;
  letter-spacing: 0.7px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-family: 'Kanit', sans-serif;
}

.footer__mail::after, .footer__tel::after {
  content: "";
  position: absolute;
  width: 0%;
  background: #8ac832;
  top: 23px;
  border-radius: 13px;
  right: 0px;
  height: 3.4px;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.footer__mail:hover::after, .footer__tel:hover::after {
  left: 0px;
  width: 100%;
}

.footer__mail:hover, .footer__tel:hover {
  color: #8ac832;
}

.footer__title {
  font-size: 23px;
  color: #ddd;
  font-weight: 700;
  letter-spacing: 0.8px;
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.footer__title:before {
  content: "";
  position: absolute;
  bottom: -9.3px;
  left: 0;
  height: 5px;
  width: 82px;
  background: -webkit-gradient(linear, left top, right top, from(#014BBB), color-stop(#117EB8), to(#014BBB));
  background: linear-gradient(to right, #014BBB, #117EB8, #014BBB);
  background-size: 200% 100%;
  -webkit-animation: animationUnderline 1s linear infinite;
          animation: animationUnderline 1s linear infinite;
}

.footer__text {
  color: #b0b9c5;
  text-align: justify;
  line-height: 29px;
}

.footer__link {
  position: relative;
  color: #afb7c2;
  font-weight: 700;
  letter-spacing: 0.7px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.footer__link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 7.8px;
}

.footer__link::after {
  content: "";
  position: absolute;
  width: 0%;
  background: #8ac832;
  top: 23px;
  border-radius: 13px;
  right: 0px;
  height: 3.5px;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.footer__link:hover::after {
  left: 0px;
  width: 100%;
}

.footer__link:hover {
  color: #8ac832;
}

.footer__copyright {
  background: #040506;
  padding: 0;
  margin: 0;
}

.footer__copyright-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__copyright-text {
  color: #d1d1d1;
  margin-bottom: 0px !important;
  font-weight: 700;
  letter-spacing: 0.7px;
  line-height: 27px;
}

@-webkit-keyframes animationUnderline {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: -150% 0;
  }
}

@keyframes animationUnderline {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: -150% 0;
  }
}

/******************* FOOTER END ************************************/
/****************** HAMBURGER  END        *********************/
@media only screen and (max-width: 1199.9px) {
  .content__section {
    background: none;
    margin-top: 99px;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 17px;
    left: 25px;
  }
  .navbar__searchbox {
    display: block;
  }
  .sitebar {
    width: 420px;
    overflow-y: scroll !important;
    height: 100vh;
    overflow-x: hidden;
  }
  .sitebar__main-container {
    position: fixed;
    top: 0;
    left: -200%;
    z-index: 20;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    -webkit-transition: 0.85s all ease;
    transition: 0.85s all ease;
  }
  .sitebar__open {
    left: 0%;
    -webkit-transition: 0.85s all ease;
    transition: 0.85s all ease;
  }
  .sitebar__top {
    margin-top: 20px;
  }
  .sitebar-close {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 10px;
    top: 10px;
  }
  .ripper__container {
    position: relative;
    margin-top: 255px;
  }
  .ripper__tooltip {
    position: absolute;
    top: -156px;
    left: -69px;
  }
}

@media only screen and (max-width: 1040px) {
  .owl-container {
    padding: 33px 15px;
  }
  .owl-carousel {
    width: 800px;
  }
}

@media only screen and (max-width: 850px) {
  .owl-carousel {
    width: 700px;
  }
  .nav-content__links {
    display: none;
  }
  .content__section {
    background: none;
    padding: 0px 25px;
    margin-top: 150px;
  }
}

@media only screen and (max-width: 750px) {
  .owl-container {
    padding: 33px 15px;
  }
  .owl-carousel {
    width: 600px;
  }
  .content__section {
    margin-top: 130px;
  }
}

@media only screen and (max-width: 650px) {
  .owl-container {
    padding: 33px 15px;
  }
  .owl-carousel {
    width: 500px;
  }
  .content__section {
    margin-top: 130px;
  }
}

@media only screen and (max-width: 550px) {
  .content__section {
    margin-top: 130px;
  }
  .navbar__submit-btn:before {
    background-size: 85%;
  }
  .navbar__sub-input-text {
    display: none;
  }
}

@media only screen and (max-width: 430px) {
  .sitebar {
    width: 320px;
  }
}

@media only screen and (max-width: 360px) {
  .content__section {
    margin-top: 150px;
    padding: 0px 25px;
  }
  .pre-loader {
    width: 70px;
    height: 70px;
  }
}
/*# sourceMappingURL=style.css.map */